#box1{
    height:100px;
    width: 100px;
    background-color: black;
    font-size: 10px;
    color: aqua;
}
#box2{
    height: 50px;
    width: 30%;
    background-color: brown;
    margin: 12%;
    font-size: 1em;
    color: yellow;
    width: 5em;
}
